.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Movie-container{
  display: flex;
  justify-content: center;
  flex-wrap : wrap;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.Movie-wrapper{
  width: 400px;
  background: linear-gradient(87.84deg, #E137BC -21.49%, #3847F7 104.49%);
}

.Movie-search{
  width: 450px;
  height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 40px;
  padding: 20px;
}

.Movie-title{
  height: 40px;
  margin-top: 12px;
  margin-bottom: 12px;
  font-weight: bold;
}

.Movie-image{
  width: 400px;
}
.Movie-date{
  font-style: italic;
}

.Movie-rate{
  color: yellow;
  margin-bottom: 18px;
  font-weight: bold;
  font-size: 1em;
  text-decoration: underline;
}